.linear-gradient-omolon {
  background: linear-gradient(45deg, #091E3A, #2F80ED, #2D9EE0);
}
.linear-gradient-farhan {
  background: linear-gradient(45deg, #9400D3, #4B0082);
}
.linear-gradient-purple {
  background: linear-gradient(45deg, #c84e89, #F15F79);
}
.linear-gradient-ibtesam {
  background: linear-gradient(45deg, #00F5A0, #00D9F5);
}
.linear-gradient-radioactive-heat {
  background: linear-gradient(45deg, #F7941E, #72C6EF, #00A651);
}
.linear-gradient-the-sky-and-the-sea {
  background: linear-gradient(45deg, #F7941E, #004E8F);
}
.linear-gradient-from-ice-to-fire {
  background: linear-gradient(45deg, #72C6EF, #004E8F);
}
.linear-gradient-blue-&-orange {
  background: linear-gradient(45deg, #FD8112, #0085CA);
}
.linear-gradient-purple-dream {
  background: linear-gradient(45deg, #bf5ae0, #a811da);
}
.linear-gradient-blu {
  background: linear-gradient(45deg, #00416A, #E4E5E6);
}
.linear-gradient-summer-breeze {
  background: linear-gradient(45deg, #fbed96, #abecd6);
}
.linear-gradient-ver {
  background: linear-gradient(45deg, #FFE000, #799F0C);
}
.linear-gradient-ver-black {
  background: linear-gradient(45deg, #F7F8F8, #ACBB78);
}
.linear-gradient-combi {
  background: linear-gradient(45deg, #00416A, #799F0C, #FFE000);
}
.linear-gradient-anwar {
  background: linear-gradient(45deg, #334d50, #cbcaa5);
}
.linear-gradient-bluelagoo {
  background: linear-gradient(45deg, #0052D4, #4364F7, #6FB1FC);
}
.linear-gradient-lunada {
  background: linear-gradient(45deg, #5433FF, #20BDFF, #A5FECB);
}
.linear-gradient-reaqua {
  background: linear-gradient(45deg, #799F0C, #ACBB78);
}
.linear-gradient-mango {
  background: linear-gradient(45deg, #ffe259, #ffa751);
}
.linear-gradient-bupe {
  background: linear-gradient(45deg, #00416A, #E4E5E6);
}
.linear-gradient-rea {
  background: linear-gradient(45deg, #FFE000, #799F0C);
}
.linear-gradient-windy {
  background: linear-gradient(45deg, #acb6e5, #86fde8);
}
.linear-gradient-royal-blue {
  background: linear-gradient(45deg, #536976, #292E49);
}
.linear-gradient-royal-blue-+-petrol {
  background: linear-gradient(45deg, #BBD2C5, #536976, #292E49);
}
.linear-gradient-copper {
  background: linear-gradient(45deg, #B79891, #94716B);
}
.linear-gradient-anamnisar {
  background: linear-gradient(45deg, #9796f0, #fbc7d4);
}
.linear-gradient-petrol {
  background: linear-gradient(45deg, #BBD2C5, #536976);
}
.linear-gradient-sky {
  background: linear-gradient(45deg, #076585, #fff);
}
.linear-gradient-sel {
  background: linear-gradient(45deg, #00467F, #A5CC82);
}
.linear-gradient-afternoon {
  background: linear-gradient(45deg, #000C40, #607D8B);
}
.linear-gradient-skyline {
  background: linear-gradient(45deg, #1488CC, #2B32B2);
}
.linear-gradient-dimigo {
  background: linear-gradient(45deg, #ec008c, #fc6767);
}
.linear-gradient-purple-love {
  background: linear-gradient(45deg, #cc2b5e, #753a88);
}
.linear-gradient-sexy-blue {
  background: linear-gradient(45deg, #2193b0, #6dd5ed);
}
.linear-gradient-blooker20 {
  background: linear-gradient(45deg, #e65c00, #F9D423);
}
.linear-gradient-sea-blue {
  background: linear-gradient(45deg, #2b5876, #4e4376);
}
.linear-gradient-nimvelo {
  background: linear-gradient(45deg, #314755, #26a0da);
}
.linear-gradient-hazel {
  background: linear-gradient(45deg, #77A1D3, #79CBCA, #E684AE);
}
.linear-gradient-noon-to-dusk {
  background: linear-gradient(45deg, #ff6e7f, #bfe9ff);
}
.linear-gradient-youtube {
  background: linear-gradient(45deg, #e52d27, #b31217);
}
.linear-gradient-cool-brown {
  background: linear-gradient(45deg, #603813, #b29f94);
}
.linear-gradient-harmonic-energy {
  background: linear-gradient(45deg, #16A085, #F4D03F);
}
.linear-gradient-playing-with-reds {
  background: linear-gradient(45deg, #D31027, #EA384D);
}
.linear-gradient-sunny-days {
  background: linear-gradient(45deg, #EDE574, #E1F5C4);
}
.linear-gradient-green-beach {
  background: linear-gradient(45deg, #02AAB0, #00CDAC);
}
.linear-gradient-intuitive-purple {
  background: linear-gradient(45deg, #DA22FF, #9733EE);
}
.linear-gradient-emerald-water {
  background: linear-gradient(45deg, #348F50, #56B4D3);
}
.linear-gradient-lemon-twist {
  background: linear-gradient(45deg, #3CA55C, #B5AC49);
}
.linear-gradient-monte-carlo {
  background: linear-gradient(45deg, #CC95C0, #DBD4B4, #7AA1D2);
}
.linear-gradient-horizon {
  background: linear-gradient(45deg, #003973, #E5E5BE);
}
.linear-gradient-rose-water {
  background: linear-gradient(45deg, #E55D87, #5FC3E4);
}
.linear-gradient-frozen {
  background: linear-gradient(45deg, #403B4A, #E7E9BB);
}
.linear-gradient-mango-pulp {
  background: linear-gradient(45deg, #F09819, #EDDE5D);
}
.linear-gradient-bloody-mary {
  background: linear-gradient(45deg, #FF512F, #DD2476);
}
.linear-gradient-aubergine {
  background: linear-gradient(45deg, #AA076B, #61045F);
}
.linear-gradient-aqua-marine {
  background: linear-gradient(45deg, #1A2980, #26D0CE);
}
.linear-gradient-sunrise {
  background: linear-gradient(45deg, #FF512F, #F09819);
}
.linear-gradient-purple-paradise {
  background: linear-gradient(45deg, #1D2B64, #F8CDDA);
}
.linear-gradient-stripe {
  background: linear-gradient(45deg, #1FA2FF, #12D8FA, #A6FFCB);
}
.linear-gradient-sea-weed {
  background: linear-gradient(45deg, #4CB8C4, #3CD3AD);
}
.linear-gradient-pinky {
  background: linear-gradient(45deg, #DD5E89, #F7BB97);
}
.linear-gradient-cherry {
  background: linear-gradient(45deg, #EB3349, #F45C43);
}
.linear-gradient-mojito {
  background: linear-gradient(45deg, #1D976C, #93F9B9);
}
.linear-gradient-juicy-orange {
  background: linear-gradient(45deg, #FF8008, #FFC837);
}
.linear-gradient-mirage {
  background: linear-gradient(45deg, #16222A, #3A6073);
}
.linear-gradient-steel-gray {
  background: linear-gradient(45deg, #1F1C2C, #928DAB);
}
.linear-gradient-kashmir {
  background: linear-gradient(45deg, #614385, #516395);
}
.linear-gradient-electric-violet {
  background: linear-gradient(45deg, #4776E6, #8E54E9);
}
.linear-gradient-venice-blue {
  background: linear-gradient(45deg, #085078, #85D8CE);
}
.linear-gradient-bora-bora {
  background: linear-gradient(45deg, #2BC0E4, #EAECC6);
}
.linear-gradient-moss {
  background: linear-gradient(45deg, #134E5E, #71B280);
}
.linear-gradient-shroom-haze {
  background: linear-gradient(45deg, #5C258D, #4389A2);
}
.linear-gradient-mystic {
  background: linear-gradient(45deg, #757F9A, #D7DDE8);
}
.linear-gradient-midnight-city {
  background: linear-gradient(45deg, #232526, #414345);
}
.linear-gradient-sea-blizz {
  background: linear-gradient(45deg, #1CD8D2, #93EDC7);
}
.linear-gradient-opa {
  background: linear-gradient(45deg, #3D7EAA, #FFE47A);
}
.linear-gradient-titanium {
  background: linear-gradient(45deg, #283048, #859398);
}
.linear-gradient-mantle {
  background: linear-gradient(45deg, #24C6DC, #514A9D);
}
.linear-gradient-dracula {
  background: linear-gradient(45deg, #DC2424, #4A569D);
}
.linear-gradient-peach {
  background: linear-gradient(45deg, #ED4264, #FFEDBC);
}
.linear-gradient-moonrise {
  background: linear-gradient(45deg, #DAE2F8, #D6A4A4);
}
.linear-gradient-clouds {
  background: linear-gradient(45deg, #ECE9E6, #FFFFFF);
}
.linear-gradient-stellar {
  background: linear-gradient(45deg, #7474BF, #348AC7);
}
.linear-gradient-bourbon {
  background: linear-gradient(45deg, #EC6F66, #F3A183);
}
.linear-gradient-calm-darya {
  background: linear-gradient(45deg, #5f2c82, #49a09d);
}
.linear-gradient-influenza {
  background: linear-gradient(45deg, #C04848, #480048);
}
.linear-gradient-shrimpy {
  background: linear-gradient(45deg, #e43a15, #e65245);
}
.linear-gradient-army {
  background: linear-gradient(45deg, #414d0b, #727a17);
}
.linear-gradient-miaka {
  background: linear-gradient(45deg, #FC354C, #0ABFBC);
}
.linear-gradient-pinot-noir {
  background: linear-gradient(45deg, #4b6cb7, #182848);
}
.linear-gradient-day-tripper {
  background: linear-gradient(45deg, #f857a6, #ff5858);
}
.linear-gradient-namn {
  background: linear-gradient(45deg, #a73737, #7a2828);
}
.linear-gradient-blurry-beach {
  background: linear-gradient(45deg, #d53369, #cbad6d);
}
.linear-gradient-vasily {
  background: linear-gradient(45deg, #e9d362, #333333);
}
.linear-gradient-a-lost-memory {
  background: linear-gradient(45deg, #DE6262, #FFB88C);
}
.linear-gradient-petrichor {
  background: linear-gradient(45deg, #666600, #999966);
}
.linear-gradient-jonquil {
  background: linear-gradient(45deg, #FFEEEE, #DDEFBB);
}
.linear-gradient-sirius-tamed {
  background: linear-gradient(45deg, #EFEFBB, #D4D3DD);
}
.linear-gradient-kyoto {
  background: linear-gradient(45deg, #c21500, #ffc500);
}
.linear-gradient-misty-meadow {
  background: linear-gradient(45deg, #215f00, #e4e4d9);
}
.linear-gradient-aqualicious {
  background: linear-gradient(45deg, #50C9C3, #96DEDA);
}
.linear-gradient-moor {
  background: linear-gradient(45deg, #616161, #9bc5c3);
}
.linear-gradient-almost {
  background: linear-gradient(45deg, #ddd6f3, #faaca8);
}
.linear-gradient-forever-lost {
  background: linear-gradient(45deg, #5D4157, #A8CABA);
}
.linear-gradient-winter {
  background: linear-gradient(45deg, #E6DADA, #274046);
}
.linear-gradient-nelson {
  background: linear-gradient(45deg, #f2709c, #ff9472);
}
.linear-gradient-autumn {
  background: linear-gradient(45deg, #DAD299, #B0DAB9);
}
.linear-gradient-candy {
  background: linear-gradient(45deg, #D3959B, #BFE6BA);
}
.linear-gradient-reef {
  background: linear-gradient(45deg, #00d2ff, #3a7bd5);
}
.linear-gradient-the-strain {
  background: linear-gradient(45deg, #870000, #190A05);
}
.linear-gradient-dirty-fog {
  background: linear-gradient(45deg, #B993D6, #8CA6DB);
}
.linear-gradient-earthly {
  background: linear-gradient(45deg, #649173, #DBD5A4);
}
.linear-gradient-virgin {
  background: linear-gradient(45deg, #C9FFBF, #FFAFBD);
}
.linear-gradient-ash {
  background: linear-gradient(45deg, #606c88, #3f4c6b);
}
.linear-gradient-cherryblossoms {
  background: linear-gradient(45deg, #FBD3E9, #BB377D);
}
.linear-gradient-parklife {
  background: linear-gradient(45deg, #ADD100, #7B920A);
}
.linear-gradient-dance-to-forget {
  background: linear-gradient(45deg, #FF4E50, #F9D423);
}
.linear-gradient-starfall {
  background: linear-gradient(45deg, #F0C27B, #4B1248);
}
.linear-gradient-red-mist {
  background: linear-gradient(45deg, #000000, #e74c3c);
}
.linear-gradient-teal-love {
  background: linear-gradient(45deg, #AAFFA9, #11FFBD);
}
.linear-gradient-neon-life {
  background: linear-gradient(45deg, #B3FFAB, #12FFF7);
}
.linear-gradient-man-of-steel {
  background: linear-gradient(45deg, #780206, #061161);
}
.linear-gradient-amethyst {
  background: linear-gradient(45deg, #9D50BB, #6E48AA);
}
.linear-gradient-cheer-up-emo-kid {
  background: linear-gradient(45deg, #556270, #FF6B6B);
}
.linear-gradient-shore {
  background: linear-gradient(45deg, #70e1f5, #ffd194);
}
.linear-gradient-facebook-messenger {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
}
.linear-gradient-soundcloud {
  background: linear-gradient(45deg, #fe8c00, #f83600);
}
.linear-gradient-behongo {
  background: linear-gradient(45deg, #52c234, #061700);
}
.linear-gradient-servquick {
  background: linear-gradient(45deg, #485563, #29323c);
}
.linear-gradient-friday {
  background: linear-gradient(45deg, #83a4d4, #b6fbff);
}
.linear-gradient-martini {
  background: linear-gradient(45deg, #FDFC47, #24FE41);
}
.linear-gradient-metallic-toad {
  background: linear-gradient(45deg, #abbaab, #ffffff);
}
.linear-gradient-between-the-clouds {
  background: linear-gradient(45deg, #73C8A9, #373B44);
}
.linear-gradient-crazy-orange-i {
  background: linear-gradient(45deg, #D38312, #A83279);
}
.linear-gradient-hersheys {
  background: linear-gradient(45deg, #1e130c, #9a8478);
}
.linear-gradient-talking-to-mice-elf {
  background: linear-gradient(45deg, #948E99, #2E1437);
}
.linear-gradient-purple-bliss {
  background: linear-gradient(45deg, #360033, #0b8793);
}
.linear-gradient-predawn {
  background: linear-gradient(45deg, #FFA17F, #00223E);
}
.linear-gradient-endless-river {
  background: linear-gradient(45deg, #43cea2, #185a9d);
}
.linear-gradient-pastel-orange-at-the-sun {
  background: linear-gradient(45deg, #ffb347, #ffcc33);
}
.linear-gradient-twitch {
  background: linear-gradient(45deg, #6441A5, #2a0845);
}
.linear-gradient-atlas {
  background: linear-gradient(45deg, #FEAC5E, #C779D0, #4BC0C8);
}
.linear-gradient-instagram {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
}
.linear-gradient-flickr {
  background: linear-gradient(45deg, #ff0084, #33001b);
}
.linear-gradient-vine {
  background: linear-gradient(45deg, #00bf8f, #001510);
}
.linear-gradient-turquoise-flow {
  background: linear-gradient(45deg, #136a8a, #267871);
}
.linear-gradient-portrait {
  background: linear-gradient(45deg, #8e9eab, #eef2f3);
}
.linear-gradient-virgin-america {
  background: linear-gradient(45deg, #7b4397, #dc2430);
}
.linear-gradient-koko-caramel {
  background: linear-gradient(45deg, #D1913C, #FFD194);
}
.linear-gradient-fresh-turboscent {
  background: linear-gradient(45deg, #F1F2B5, #135058);
}
.linear-gradient-green-to-dark {
  background: linear-gradient(45deg, #6A9113, #141517);
}
.linear-gradient-ukraine {
  background: linear-gradient(45deg, #004FF9, #FFF94C);
}
.linear-gradient-curiosity-blue {
  background: linear-gradient(45deg, #525252, #3d72b4);
}
.linear-gradient-dark-knight {
  background: linear-gradient(45deg, #BA8B02, #181818);
}
.linear-gradient-piglet {
  background: linear-gradient(45deg, #ee9ca7, #ffdde1);
}
.linear-gradient-lizard {
  background: linear-gradient(45deg, #304352, #d7d2cc);
}
.linear-gradient-sage-persuasion {
  background: linear-gradient(45deg, #CCCCB2, #757519);
}
.linear-gradient-between-night-and-day {
  background: linear-gradient(45deg, #2c3e50, #3498db);
}
.linear-gradient-timber {
  background: linear-gradient(45deg, #fc00ff, #00dbde);
}
.linear-gradient-passion {
  background: linear-gradient(45deg, #e53935, #e35d5b);
}
.linear-gradient-clear-sky {
  background: linear-gradient(45deg, #005C97, #363795);
}
.linear-gradient-master-card {
  background: linear-gradient(45deg, #f46b45, #eea849);
}
.linear-gradient-back-to-earth {
  background: linear-gradient(45deg, #00C9FF, #92FE9D);
}
.linear-gradient-deep-purple {
  background: linear-gradient(45deg, #673AB7, #512DA8);
}
.linear-gradient-little-leaf {
  background: linear-gradient(45deg, #76b852, #8DC26F);
}
.linear-gradient-netflix {
  background: linear-gradient(45deg, #8E0E00, #1F1C18);
}
.linear-gradient-light-orange {
  background: linear-gradient(45deg, #FFB75E, #ED8F03);
}
.linear-gradient-green-and-blue {
  background: linear-gradient(45deg, #c2e59c, #64b3f4);
}
.linear-gradient-poncho {
  background: linear-gradient(45deg, #403A3E, #BE5869);
}
.linear-gradient-back-to-the-future {
  background: linear-gradient(45deg, #C02425, #F0CB35);
}
.linear-gradient-blush {
  background: linear-gradient(45deg, #B24592, #F15F79);
}
.linear-gradient-inbox {
  background: linear-gradient(45deg, #457fca, #5691c8);
}
.linear-gradient-purplin {
  background: linear-gradient(45deg, #6a3093, #a044ff);
}
.linear-gradient-pale-wood {
  background: linear-gradient(45deg, #eacda3, #d6ae7b);
}
.linear-gradient-haikus {
  background: linear-gradient(45deg, #fd746c, #ff9068);
}
.linear-gradient-pizelex {
  background: linear-gradient(45deg, #114357, #F29492);
}
.linear-gradient-joomla {
  background: linear-gradient(45deg, #1e3c72, #2a5298);
}
.linear-gradient-christmas {
  background: linear-gradient(45deg, #2F7336, #AA3A38);
}
.linear-gradient-minnesota-vikings {
  background: linear-gradient(45deg, #5614B0, #DBD65C);
}
.linear-gradient-miami-dolphins {
  background: linear-gradient(45deg, #4DA0B0, #D39D38);
}
.linear-gradient-forest {
  background: linear-gradient(45deg, #5A3F37, #2C7744);
}
.linear-gradient-nighthawk {
  background: linear-gradient(45deg, #2980b9, #2c3e50);
}
.linear-gradient-superman {
  background: linear-gradient(45deg, #0099F7, #F11712);
}
.linear-gradient-suzy {
  background: linear-gradient(45deg, #834d9b, #d04ed6);
}
.linear-gradient-dark-skies {
  background: linear-gradient(45deg, #4B79A1, #283E51);
}
.deep-space {
  background: linear-gradient(45deg, #000000, #434343) !important;
}
.linear-gradient-decent {
  background: linear-gradient(45deg, #4CA1AF, #C4E0E5);
}
.linear-gradient-colors-of-sky {
  background: linear-gradient(45deg, #E0EAFC, #CFDEF3);
}
.linear-gradient-purple-white {
  background: linear-gradient(45deg, #BA5370, #F4E2D8);
}
.linear-gradient-ali {
  background: linear-gradient(45deg, #ff4b1f, #1fddff);
}
.linear-gradient-alihossein {
  background: linear-gradient(45deg, #f7ff00, #db36a4);
}
.linear-gradient-shahabi {
  background: linear-gradient(45deg, #a80077, #66ff00);
}
.linear-gradient-red-ocean {
  background: linear-gradient(45deg, #1D4350, #A43931);
}
.linear-gradient-tranquil {
  background: linear-gradient(45deg, #EECDA3, #EF629F);
}
.linear-gradient-transfile {
  background: linear-gradient(45deg, #16BFFD, #CB3066);
}
.linear-gradient-sylvia {
  background: linear-gradient(45deg, #ff4b1f, #ff9068);
}
.linear-gradient-sweet-morning {
  background: linear-gradient(45deg, #FF5F6D, #FFC371);
}
.linear-gradient-politics {
  background: linear-gradient(45deg, #2196f3, #f44336);
}
.linear-gradient-bright-vault {
  background: linear-gradient(45deg, #00d2ff, #928DAB);
}
.linear-gradient-solid-vault {
  background: linear-gradient(45deg, #3a7bd5, #3a6073);
}
.linear-gradient-sunset {
  background: linear-gradient(45deg, #0B486B, #F56217);
}
.linear-gradient-grapefruit-sunset {
  background: linear-gradient(45deg, #e96443, #904e95);
}
.linear-gradient-deep-sea-space {
  background: linear-gradient(45deg, #2C3E50, #4CA1AF);
}
.linear-gradient-dusk {
  background: linear-gradient(45deg, #2C3E50, #FD746C);
}
.linear-gradient-minimal-red {
  background: linear-gradient(45deg, #F00000, #DC281E);
}
.linear-gradient-royal {
  background: linear-gradient(45deg, #141E30, #243B55);
}
.linear-gradient-mauve {
  background: linear-gradient(45deg, #42275a, #734b6d);
}
.linear-gradient-frost {
  background: linear-gradient(45deg, #000428, #004e92);
}
.linear-gradient-lush {
  background: linear-gradient(45deg, #56ab2f, #a8e063);
}
.linear-gradient-firewatch {
  background: linear-gradient(45deg, #cb2d3e, #ef473a);
}
.linear-gradient-sherbert {
  background: linear-gradient(45deg, #f79d00, #64f38c);
}
.linear-gradient-blood-red {
  background: linear-gradient(45deg, #f85032, #e73827);
}
.linear-gradient-sun-on-the-horizon {
  background: linear-gradient(45deg, #fceabb, #f8b500);
}
.linear-gradient-iiit-delhi {
  background: linear-gradient(45deg, #808080, #3fada8);
}
.linear-gradient-jupiter {
  background: linear-gradient(45deg, #ffd89b, #19547b);
}
.linear-gradient-50-shades-of-grey {
  background: linear-gradient(45deg, #bdc3c7, #2c3e50);
}
.linear-gradient-dania {
  background: linear-gradient(45deg, #BE93C5, #7BC6CC);
}
.linear-gradient-limeade {
  background: linear-gradient(45deg, #A1FFCE, #FAFFD1);
}
.linear-gradient-disco {
  background: linear-gradient(45deg, #4ECDC4, #556270);
}
.linear-gradient-love-couple {
  background: linear-gradient(45deg, #3a6186, #89253e);
}
.linear-gradient-azure-pop {
  background: linear-gradient(45deg, #ef32d9, #89fffd);
}
.linear-gradient-nepal {
  background: linear-gradient(45deg, #de6161, #2657eb);
}
.linear-gradient-cosmic-fusion {
  background: linear-gradient(45deg, #ff00cc, #333399);
}
.linear-gradient-snapchat {
  background: linear-gradient(45deg, #fffc00, #ffffff);
}
.linear-gradient-eds-sunset-gradient { 

  background: linear-gradient(45deg, #ff7e5f, #feb47b);
}
.linear-gradient-brady-brady-fun-fun {
  background: linear-gradient(45deg, #00c3ff, #ffff1c);
}
.linear-gradient-black-rosé {
  background: linear-gradient(45deg, #f4c4f3, #fc67fa);
}
.linear-gradient0s-purple {
  background: linear-gradient(45deg, #41295a, #2F0743);
}
.linear-gradient-radar {
  background: linear-gradient(45deg, #A770EF, #CF8BF3, #FDB99B);
}
.linear-gradient-ibiza-sunset {
  background: linear-gradient(45deg, #ee0979, #ff6a00);
}
.linear-gradient-dawn {
  background: linear-gradient(45deg, #F3904F, #3B4371);
}
.linear-gradient-mild {
  background: linear-gradient(45deg, #67B26F, #4ca2cd);
}
.linear-gradient-vice-city {
  background: linear-gradient(45deg, #3494E6, #EC6EAD);
}
.linear-gradient-jaipur {
  background: linear-gradient(45deg, #DBE6F6, #C5796D);
}
.linear-gradient-jodhpur {
  background: linear-gradient(45deg, #9CECFB, #65C7F7, #0052D4);
}
.linear-gradient-cocoaa-ice {
  background: linear-gradient(45deg, #c0c0aa, #1cefff);
}
.linear-gradient-easymed {
  background: linear-gradient(45deg, #DCE35B, #45B649);
}
.linear-gradient-rose-colored-lenses {
  background: linear-gradient(45deg, #E8CBC0, #636FA4);
}
.linear-gradient-what-lies-beyond {
  background: linear-gradient(45deg, #F0F2F0, #000C40);
}
.linear-gradient-roseanna {
  background: linear-gradient(45deg, #FFAFBD, #ffc3a0);
}
.linear-gradient-honey-dew {
  background: linear-gradient(45deg, #43C6AC, #F8FFAE);
}
.linear-gradient-under-the-lake {
  background: linear-gradient(45deg, #093028, #237A57);
}
.linear-gradient-the-blue-lagoon {
  background: linear-gradient(45deg, #43C6AC, #191654);
}
.linear-gradient-can-you-feel-the-love-tonight {
  background: linear-gradient(45deg, #4568DC, #B06AB3);
}
.linear-gradient-very-blue {
  background: linear-gradient(45deg, #0575E6, #021B79);
}
.linear-gradient-love-and-liberty {
  background: linear-gradient(45deg, #200122, #6f0000);
}
.linear-gradient-orca {
  background: linear-gradient(45deg, #44A08D, #093637);
}
.linear-gradient-venice {
  background: linear-gradient(45deg, #6190E8, #A7BFE8);
}
.linear-gradient-pacific-dream {
  background: linear-gradient(45deg, #34e89e, #0f3443);
}
.linear-gradient-learning-and-leading {
  background: linear-gradient(45deg, #F7971E, #FFD200);
}
.linear-gradient-celestial {
  background: linear-gradient(45deg, #C33764, #1D2671);
}
.linear-gradient-purplepine {
  background: linear-gradient(45deg, #20002c, #cbb4d4);
}
.linear-gradient-sha-la-la {
  background: linear-gradient(45deg, #D66D75, #E29587);
}
.linear-gradient-mini {
  background: linear-gradient(45deg, #30E8BF, #FF8235);
}
.linear-gradient-maldives {
  background: linear-gradient(45deg, #B2FEFA, #0ED2F7);
}
.linear-gradient-cinnamint {
  background: linear-gradient(45deg, #4AC29A, #BDFFF3);
}
.linear-gradient-html {
  background: linear-gradient(45deg, #E44D26, #F16529);
}
.linear-gradient-coal {
  background: linear-gradient(45deg, #EB5757, #000000);
}
.linear-gradient-sunkist {
  background: linear-gradient(45deg, #F2994A, #F2C94C);
}
.linear-gradient-blue-skies {
  background: linear-gradient(45deg, #56CCF2, #2F80ED);
}
.linear-gradient-chitty-chitty-bang-bang {
  background: linear-gradient(45deg, #007991, #78ffd6);
}
.linear-gradient-visions-of-grandeur {
  background: linear-gradient(45deg, #000046, #1CB5E0);
}
.linear-gradient-crystal-clear {
  background: linear-gradient(45deg, #159957, #155799);
}
.linear-gradient-mello {
  background: linear-gradient(45deg, #c0392b, #8e44ad);
}
.linear-gradient-compare-now {
  background: linear-gradient(45deg, #EF3B36, #FFFFFF);
}
.linear-gradient-meridian {
  background: linear-gradient(45deg, #283c86, #45a247);
}
.linear-gradient-relay {
  background: linear-gradient(45deg, #3A1C71, #D76D77, #FFAF7B);
}
.linear-gradient-alive {
  background: linear-gradient(45deg, #CB356B, #BD3F32);
}
.linear-gradient-scooter {
  background: linear-gradient(45deg, #36D1DC, #5B86E5);
}
.linear-gradient-terminal {
  background: linear-gradient(45deg, #000000, #0f9b0f);
}
.linear-gradient-telegram {
  background: linear-gradient(45deg, #1c92d2, #f2fcfe);
}
.linear-gradient-crimson-tide {
  background: linear-gradient(45deg, #642B73, #C6426E);
}
.linear-gradient-socialive {
  background: linear-gradient(45deg, #06beb6, #48b1bf);
}
.linear-gradient-subu {
  background: linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);
}
.linear-gradient-broken-hearts {
  background: linear-gradient(45deg, #d9a7c7, #fffcdc);
}
.linear-gradient-kimoby-is-the-new-blue {
  background: linear-gradient(45deg, #396afc, #2948ff);
}
.linear-gradient-dull {
  background: linear-gradient(45deg, #C9D6FF, #E2E2E2);
}
.linear-gradient-purpink {
  background: linear-gradient(45deg, #7F00FF, #E100FF);
}
.linear-gradient-orange-coral {
  background: linear-gradient(45deg, #ff9966, #ff5e62);
}
.linear-gradient-summer {
  background: linear-gradient(45deg, #22c1c3, #fdbb2d);
}
.linear-gradient-king-yna {
  background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
}
.linear-gradient-velvet-sun {
  background: linear-gradient(45deg, #e1eec3, #f05053);
}
.linear-gradient-zinc {
  background: linear-gradient(45deg, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
}
.linear-gradient-hydrogen {
  background: linear-gradient(45deg, #667db6, #0082c8, #0082c8, #667db6);
}
.argon {
  background: linear-gradient(45deg, #03001e, #7303c0, #ec38bc, #fdeff9);
}
.linear-gradient-lithium {
  background: linear-gradient(45deg, #6D6027, #D3CBB8);
}
.linear-gradient-digital-water {
  background: linear-gradient(45deg, #74ebd5, #ACB6E5);
}
.linear-gradient-orange-fun {
  background: linear-gradient(45deg, #fc4a1a, #f7b733);
}
.linear-gradient-rainbow-blue {
  background: linear-gradient(45deg, #00F260, #0575E6);
}
.linear-gradient-pink-flavour {
  background: linear-gradient(45deg, #800080, #ffc0cb);
}
.linear-gradient-sulphur {
  background: linear-gradient(45deg, #CAC531, #F3F9A7);
}
.linear-gradient-selenium {
  background: linear-gradient(45deg, #3C3B3F, #605C3C);
}
.linear-gradient-delicate {
  background: linear-gradient(45deg, #D3CCE3, #E9E4F0);
}
.linear-gradient-ohhappiness {
  background: linear-gradient(45deg, #00b09b, #96c93d);
}
.linear-gradient-lawrencium {
  background: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
}
.linear-gradient-relaxing-red {
  background: linear-gradient(45deg, #fffbd5, #b20a2c);
}
.linear-gradient-taran-tado {
  background: linear-gradient(45deg, #23074d, #cc5333);
}
.linear-gradient-bighead {
  background: linear-gradient(45deg, #c94b4b, #4b134f);
}
.linear-gradient-sublime-vivid {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
}
.linear-gradient-sublime-light {
  background: linear-gradient(45deg, #FC5C7D, #6A82FB);
}
.linear-gradient-pun-yeta {
  background: linear-gradient(45deg, #108dc7, #ef8e38);
}
.linear-gradient-quepal {
  background: linear-gradient(45deg, #11998e, #38ef7d);
}
.linear-gradient-sand-to-blue {
  background: linear-gradient(45deg, #3E5151, #DECBA4);
}
.linear-gradient-wedding-day-blues {
  background: linear-gradient(45deg, #40E0D0, #FF8C00, #FF0080);
}
.linear-gradient-shifter {
  background: linear-gradient(45deg, #bc4e9c, #f80759);
}
.linear-gradient-red-sunset {
  background: linear-gradient(45deg, #355C7D, #6C5B7B, #C06C84);
}
.moon-purple {
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
}
.linear-gradient-pure-lust {
  background: linear-gradient(45deg, #333333, #dd1818);
}
.linear-gradient-slight-ocean-view {
  background: linear-gradient(45deg, #a8c0ff, #3f2b96);
}
.linear-gradient-expresso {
  background: linear-gradient(45deg, #ad5389, #3c1053);
}
.linear-gradient-shifty {
  background: linear-gradient(45deg, #636363, #a2ab58);
}
.linear-gradient-vanusa {
  background: linear-gradient(45deg, #DA4453, #89216B);
}
.linear-gradient-evening-night {
  background: linear-gradient(45deg, #005AA7, #FFFDE4);
}
.linear-gradient-magic {
  background: linear-gradient(45deg, #59C173, #a17fe0, #5D26C1);
}
.linear-gradient-margo {
  background: linear-gradient(45deg, #FFEFBA, #FFFFFF);
}
.linear-gradient-blue-raspberry {
  background: linear-gradient(45deg, #00B4DB, #0083B0);
}
.linear-gradient-citrus-peel {
  background: linear-gradient(45deg, #FDC830, #F37335);
}
.linear-gradient-sin-city-red {
  background: linear-gradient(45deg, #ED213A, #93291E);
}
.linear-gradient-rastafari {
  background: linear-gradient(45deg, #1E9600, #FFF200, #FF0000);
}
.linear-gradient-summer-dog {
  background: linear-gradient(45deg, #a8ff78, #78ffd6);
}
.linear-gradient-wiretap {
  background: linear-gradient(45deg, #8A2387, #E94057, #F27121);
}
.linear-gradient-burning-orange {
  background: linear-gradient(45deg, #FF416C, #FF4B2B);
}
.linear-gradient-ultra-voilet {
  background: linear-gradient(45deg, #654ea3, #eaafc8);
}
.linear-gradient-by-design {
  background: linear-gradient(45deg, #009FFF, #ec2F4B);
}
.linear-gradient-kyoo-tah {
  background: linear-gradient(45deg, #544a7d, #ffd452);
}
.linear-gradient-kye-meh {
  background: linear-gradient(45deg, #8360c3, #2ebf91);
}
.linear-gradient-kyoo-pal {
  background: linear-gradient(45deg, #dd3e54, #6be585);
}
.linear-gradient-metapolis {
  background: linear-gradient(45deg, #659999, #f4791f);
}
.linear-gradient-flare {
  background: linear-gradient(45deg, #f12711, #f5af19);
}
.linear-gradient-witching-hour {
  background: linear-gradient(45deg, #c31432, #240b36);
}
.linear-gradient-azur-lane {
  background: linear-gradient(45deg, #7F7FD5, #86A8E7, #91EAE4);
}
.linear-gradient-neuromancer {
  background: linear-gradient(45deg, #f953c6, #b91d73);
}
.linear-gradient-harvey {
  background: linear-gradient(45deg, #1f4037, #99f2c8);
}
.linear-gradient-amin {
  background: linear-gradient(45deg, #8E2DE2, #4A00E0);
}
.linear-gradient-memariani {
  background: linear-gradient(45deg, #aa4b6b, #6b6b83, #3b8d99);
}
.linear-gradient-yoda {
  background: linear-gradient(45deg, #FF0099, #493240);
}
.linear-gradient-cool-sky {
  background: linear-gradient(45deg, #2980B9, #6DD5FA, #FFFFFF);
}
.linear-gradient-dark-ocean {
  background: linear-gradient(45deg, #373B44, #4286f4);
}
.linear-gradient-evening-sunshine {
  background: linear-gradient(45deg, #b92b27, #1565C0);
}
.linear-gradient-jshine {
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
}
.linear-gradient-moonlit-asteroid {
  background: linear-gradient(45deg, #0F2027, #203A43, #2C5364);
}
.linear-gradient-megatron {
  background: linear-gradient(45deg, #C6FFDD, #FBD786, #f7797d);
}
.linear-gradient-cool-blues {
  background: linear-gradient(45deg, #2193b0, #6dd5ed);
}
.linear-gradient-piggy-pink {
  background: linear-gradient(45deg, #ee9ca7, #ffdde1);
}
.linear-gradient-grade-grey {
  background: linear-gradient(45deg, #bdc3c7, #2c3e50);
}
.linear-gradient-telko {
  background: linear-gradient(45deg, #F36222, #5CB644, #007FC3);
}
.linear-gradient-zenta {
  background: linear-gradient(45deg, #2A2D3E, #FECB6E);
}
.linear-gradient-electric-peacock {
  background: linear-gradient(45deg, #8a2be2, #0000cd, #228b22, #ccff00);
}
.linear-gradient-under-blue-green {
  background: linear-gradient(45deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.linear-gradient-lensod {
  background: linear-gradient(45deg, #6025F5, #FF5555);
}
.linear-gradient-newspaper {
  background: linear-gradient(45deg, #8a2be2, #ffa500, #f8f8ff);
}
.linear-gradient-dark-blue-gradient {
  background: linear-gradient(45deg, #2774ae, #002E5D, #002E5D);
}
.linear-gradient-dark-blu-two {
  background: linear-gradient(45deg, #004680, #4484BA);
}
.linear-gradient-lemon-lime {
  background: linear-gradient(45deg, #7ec6bc, #ebe717);
}
.linear-gradient-beleko {
  background: linear-gradient(45deg, #ff1e56, #f9c942, #1e90ff);
}
.linear-gradient-mango-papaya {
  background: linear-gradient(45deg, #de8a41, #2ada53);
}
.linear-gradient-unicorn-rainbow {
  background: linear-gradient(45deg, #f7f0ac, #acf7f0, #f0acf7);
}
.linear-gradient-flame {
  background: linear-gradient(45deg, #ff0000, #fdcf58);
}
.linear-gradient-blue-red {
  background: linear-gradient(45deg, #36B1C7, #960B33);
}
.linear-gradient-twitter {
  background: linear-gradient(45deg, #1DA1F2, #009ffc);
}
.linear-gradient-blooze {
  background: linear-gradient(45deg, #6da6be, #4b859e, #6da6be);
}
.linear-gradient-blue-slate {
  background: linear-gradient(45deg, #B5B9FF, #2B2C49);
}
.linear-gradient-space-light-green {
  background: linear-gradient(45deg, #9FA0A8, #5C7852);
}
.linear-gradient-flower {
  background: linear-gradient(45deg, #DCFFBD, #CC86D1);
}
.linear-gradient-elate-the-euge {
  background: linear-gradient(45deg, #8BDEDA, 43ADD0, 998EE0, E17DC2, EF9393);
}
.linear-gradient-peach-sea {
  background: linear-gradient(45deg, #E6AE8C, #A8CECF);
}
.linear-gradient-abbas {
  background: linear-gradient(45deg, #00fff0, #0083fe);
}
.linear-gradient-winter-woods {
  background: linear-gradient(45deg, #333333, #a2ab58, #A43931);
}
.linear-gradient-ameena {
  background: linear-gradient(45deg, #0c0c6d, #de512b, #98d0c1, #5bb226, #023c0d);
}
.linear-gradient-emerald-sea {
  background: linear-gradient(45deg, #05386b, #5cdb95);
}
.linear-gradient-bleem {
  background: linear-gradient(45deg, #4284DB, #29EAC4);
}
.linear-gradient-coffee-gold {
  background: linear-gradient(45deg, #554023, #c99846);
}
.linear-gradient-compass {
  background: linear-gradient(45deg, #516b8b, #056b3b);
}
.lineargradientandreuzzas {
  background: linear-gradient(45deg, #D70652, #FF025E);
}
.linear-gradient-moonwalker {
  background: linear-gradient(45deg, #152331, #000000);
}
.linear-gradient-whinehouse {
  background: linear-gradient(45deg, #f7f7f7, #b9a0a0, #794747, #4e2020, #111111);
}
.linear-gradient-hyper-blue {
  background: linear-gradient(45deg, #59CDE9, #0A2A88);
}
.linear-gradient-racker {
  background: linear-gradient(45deg, #EB0000, #95008A, #3300FC);
}
.linear-gradient-after-the-rain {
  background: linear-gradient(45deg, #ff75c3, #ffa647, #ffe83f, #9fff5b, #70e2ff, #cd93ff);
}
.linear-gradient-neon-green {
  background: linear-gradient(45deg, #81ff8a, #64965e);
}
.linear-gradient-dusty-grass {
  background: linear-gradient(45deg, #d4fc79, #96e6a1);
}
.linear-gradient-visual-blue {
  background: linear-gradient(45deg, #003d4d, #00c996);
}
