


#chatbox::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

#chatbox, .widget-chat {
  width: 100%;
  overflow-y: scroll;
  height: 400px;
  color: white;
}

/*  */



#chatbox, .widget-chat{
  margin: 0;
  padding: 0; 
}


#chatbox p {
  margin: 0;
  padding: 0;
}

#chatbox p span {
  color: #000;
}

#chatbox p span.username {
  font-weight: bold;
}

.input-group {
  margin-top: 10px;
  padding: 10px;
  margin-top: 10px;
}

/* End sizing  */

.container-fluid {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.receiverMessage {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.senderMessage {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.card {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

/* Remind me to explain to you about how this works ^^^  */

/* Styling starts here  */

.gradient5 {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

.graddy6 {
  background: linear-gradient(
    45deg,
    #485563,
    #29323c,
    rgb(255, 255, 255)
  ) !important;
  background-size: 400% 400%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.user-data {
  display: none;
}


.modal-backdrop.show {
  z-index: auto;
  opacity: 0.25;
}
