  <div class="messenger-content-body gradPrim">
    <div class="widget-chat" id="chatbox">
      <div class="widget-chat-date">TODAY</div>
      {% for message in messages %}
      <div class="widget-chat-item">
        <div class="widget-chat-media">
          <img
            src="{{ url_for('static', filename=(message.sender.profile_pic if message.sender.profile_pic else 'uploads/default_image.png')) }}"
            alt="{{ (message.sender.display_name if message.sender.display_name else 'Default User') }}" width="30"
            class="card-img">
        </div>
        <div class="widget-chat-content">
          <div>
          </div>
          <div class="widget-chat-item">{{ message.sender.display_name or message.sender.username }}</div>
          <div class="widget-chat-message last">
            {{ message.content }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="messenger-content-footer gradPrim">
  <div class="input-group input-group-lg position-relative z-3">
     <div id="selection-outer" class="d-none">
        <span id="selection-emoji"></span>
        <span id="selection-name"></span>
    </div>
    <button class="btn text-inverse position-absolute start-0" id="trigger"><i class="fa fa-smile"
        aria-hidden="true"></i></button>
    <input type="text" class="form-control rounded-start gradPrim ps-45px" id="message" placeholder="Write a message..."
      onkeydown="checkKey(event)">
    <button class="btn btn-outline-default" onclick="sendMessage()" id="message-button"><i
        class="fa fa-paper-plane text-muted"></i></button>
  </div>
</div>
</div>
</div>
</div>


<div class="card-arrow">
  <div class="card-arrow-top-left"></div>
  <div class="card-arrow-top-right"></div>
  <div class="card-arrow-bottom-left"></div>
  <div class="card-arrow-bottom-right"></div>
</div>
</div>
</div>  


<script src="../static/js/socket.js"></script>
<script src="../static/js/userlist.js"></script>  
<script src="../static/js/privateMsgMenu.js"></script>
<script src="../static/js/users_update.js"></script>
  <script type="module" src="../static/js/page-messenger.demo.js"></script> 
</div>
</div>
