{% extends 'layout.html' %}
{% block content %}





  <div id="app" class="app app-content-full-height app-sidebar-collapsed">
    <div id="header" class="app-header gradPrim">
<div class="desktop-toggler">
  <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app"><i class="fa fa-user-minus"></i></button> 
</div>
<div class="mobile-toggler">
  <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app"><i class="fa fa-user-minus"></i></button>

</div>
<div class="brand text-white">
  <a href="/" class="brand-logo">
    <img src="../static/uploads/smrt.png" style="display: block; width:40px;">
<span class="brand-img-text">smart</span>
</span>
<span class="brand-text">botz.ai</span>
</a>
</div>
<div class="container-fluid">


{% include 'menu.html' %}
{% include 'chat.html' %}


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}

