
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>antiq's den</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="antiq's chatroom" name="description">
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- App favicon -->
  <link rel="shortcut icon" type="text/css" href="../static/uploads/default_image.png">

  <!-- CSS -->

  <link href="../static/assets/css/vendor.min.css" rel="stylesheet">  
  <link href="../static/assets/css/app.min.css" rel="stylesheet">
  
  <link href="../static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/assets/webfonts/fa-brands-400.ttf">
    <!--  -->

<script src="../static/js/socket.io.min.js"></script>
<script src="../static/js/socket.js"></script>
<script src="../static/js/users_update.js"></script>
  <!-- Fonts -->
</head>
<body class="text-dark bg-gradient shadow-6-soft">

    
  {% block content %}
  {% endblock %}

</body>
</html>
