<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">

<div class="container-fluid deep-space">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card blurry-beach">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form action="/login" method="post">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="/register">Don't have an account? Register here</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
