{% extends 'layout.html' %} 
{% block content %}
<body class="">  
<link rel="stylesheet" type="text/css" href="../static/css/misc.css">
<div class="d-flex align-content-center">
  <div class="mx-auto">
    <div class="text-center">
      <h1 class="display-1 fadeIn bg-transparent">piss gate</h1>
      <span class="text-muted">the invocators of the piss doctrine.</span>  
</div>
    <div class="container-md mt-5">
      <div class="row justify-content-center">
          <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
              <form action="/login" method="post">
                <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                  />
                  <input type="text" class="form-control" name="username" />
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                  />
                  <input type="password" class="form-control" name="password" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
          <div class="text-center mt-3">
            <a href="/register">Don't have an account? Register here</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
 {% endblock %}
