<script src="../static/js/socket.io.min.js"></script>

<!-- connect client, emits user id to join  -->
<script>
    const socket = io.connect(location.origin);
        socket.on("connect", () => {
            socket.emit("join", { user_id: "{{ current_user.id }}" });
        });

  </script>
  <!-- This is essential for the socket to connect properly  -->

<!-- overlay -->


    <!-- notification center start -->
    <div class="menu">

    <div class="menu-item dropdown">
      <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
        <span id="notificationDot" onclick="hideDot()" style="display:none;">•</span>
        <span id="notificationCount"></span>
        <div class="menu-icon"><i class="bi bi-bell nav-icon"></i></div>
        <div class="dropdown-menu gradPrim dropdown-menu-end  fs-11px pt-1">
            <div id="notificationList"></div>
            <div class="fs-20px">
              <i class="bi bi-bag text-theme"></i>
            </a>
          </div>
        </div>
    </div>
</div>


<!-- notification center end -->
</div>
<div id="chat-sidebar" class="app-sidebar app-sidebar-collapsed gradPrim opacity-85">
    <h5>Online Users</h5>
    <button class="btn gradPrim mt-1" onclick="toggleSidebar()"><i class="bi bi-arrow-left"></i></button>
    <button class="btn gradPrim mt-1" onclick="toggleChat()"><i class="bi bi-chat-dots"></i></button>
    <div id="chatContent" style="display: none;">
        <div id="onlineUsers">
            <!-- JavaScript will populate this with online users -->
        </div>
    </div>
</div>
</div>




<!-- Private Chat Modal -->
<div class="modal fade gradPrim" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header gradPrim">
                <h5 class="modal-title" id="chatModalTitle">Chat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body gradPrim" id="chatModalBody">
                <div id="privateChatContent">
                <span id="notificationCount"></span>

        <h3>Private Messages with {{ receiver.username }} : <span id="receiverUsername"></span></h3>
        <div class="shadow-6 p-3" style="height: 400px; overflow-y: scroll;" id="private-messages">
            {% for message in private_messages %}
            <div class="widget-chat-messanger">
                                    {% if message.profile_pic %}
                                    <img src="{{ message.profile_pic }}" alt="Profile Picture" width="30" height="30" class="rounded-circle me-2">
                                    {% endif %}
                                    <div>
                                    <div>
                                        <strong>{{ message.display_name }}</strong>: {{ message.content }} 
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                             </div>
                             <form id="private-chat-form">
                        <input type="text" id="private-message-input" placeholder="Type your message">
                        <button type="submit">Send</button>
                    </form> 
                    <a href="/">Back to Global Chat</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- User Profile Modal -->
<div class="modal fade gradPrim" id="userProfileModal" tabindex="-1" aria-labelledby="userProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header gradPrim">
                <h5 class="modal-title" id="userProfileModalLabel">User Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body gradPrim">
                <img id="userProfilePic" src="" alt="Profile Picture" class="rounded-circle" width="100">
                <h4 id="userProfileName"></h4>
           <form action="/profile" method="post" enctype="multipart/form-data">
                        <div class="container mb-3">
                            <label class="form-label">Username</label>
                            <input
                            type="hidden"
                            name="csrf_token"
                            value="{{ csrf_token() }}"
                          />
                            <input type="text" class="form-control" name="username" value="{{ user.username }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Display Name</label>
                            <input
                            type="hidden"
                            name="csrf_token"
                            value="{{ csrf_token() }}"
                          />
                            <input type="text" name="display_name" value="{{ user.display_name }}">

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Profile Picture</label>
                            {% if user.profile_pic %}
                            <img src="{{ url_for('static', filename=user.profile_pic) }}" alt="Profile Picture">
                            {% endif %}
                            <input
                            type="hidden"
                            name="csrf_token"
                            value="{{ csrf_token() }}"
                          />
                    
                            <input type="file" class="form-control" name="profile_pic">
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                        <a href="/" class="btn btn-secondary return-btn">Return to Chat</a>
                    </form>
                </div>           
             </div>
        </div>
    </div>
</div>
</div>
         
</div>  

