{% block content %}
  <h3>Messages You've Sent</h3>
  <ul>
    {% for message in sent_messages %}
    <li>
      <strong>{{ message.receiver.username }}:</strong> {{ message.content }}
      <small>{{ message.timestamp }}</small>
    </li>
    {% endfor %}
  </ul>

  <h3>Messages You've Received</h3>
  <ul>
    {% for message in received_messages %}
    <li>
      <strong>{{ message.sender.username }}:</strong> {{ message.content }}
      <small>{{ message.timestamp }}</small>
    </li>
    {% endfor %}
  </ul>

</div>
{% endblock %}