
{% extends 'layout.html' %}
{% block content %} 

<link rel="stylesheet" href="../static/assets/css/app.min.css">
<link rel="stylesheet" href="../static/css/style.css">  
    
    <div id="chatWidget" class="mb-5">
        <body class="text-bg-black" onload="document.getElementById('send-button').focus(); scrollBottom();">


        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header bg-none fw-bold d-flex align-items-center">
                                eq chat widget
                                <a href="#" class="ms-auto text-muted text-decoration-none" data-toggle="card-expand">
                                    <i class="fa fa-expand"></i>
                                </a>
                            </div>
                            <div class="card-body bg-inverse bg-opacity-10 ps ps--active-y" data-scrollbar="true" data-height="500px" style="height: 200px;">
                                <div class="widget-chat" id="private-chatbox">
                                    {% for message in private_messages %}
                                        <div class="widget-chat-item">
                                    <div class="widget-chat-media">
                                        <img src="{{ url_for('static', filename=(message.sender.profile_pic if message.sender.profile_pic else 'uploads/default_image.webp')) }}"
                                            alt="{{ (message.sender.display_name if message.sender.display_name else 'Default User') }}" width="30" class="card-img">
                                    </div>
                                    <div class="widget-chat-content">
                                        <div>
                                        </div>
                                        <div class="widget-chat-name">{{ message.sender.display_name or message.sender.username }}</div>
                                        <div class="widget-chat-message last">
                                            {{ message.content }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                                </div>
                            </div>
                            <div class="card-footer bg-none">
                                <div class="input-group">
                                    <input type="text" id="private-message-input" class="form-control" placeholder="Type your message">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-default" type="button" id="send-button">
                                            <i class="fa fa-paper-plane text-muted"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-arrow">
                                <div class="card-arrow-top-left"></div>
                                <div class="card-arrow-top-right"></div>
                                <div class="card-arrow-bottom-left"></div>
                                <div class="card-arrow-bottom-right"></div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../static/js/privatemsg.js"></script>




{% endblock %}
