<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<div class="container-fluid linear-gradient-titanium">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-body">
                    <form action="/profile" method="post" enctype="multipart/form-data">
                        <div class="container mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" value="{{ user.username }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Display Name</label>
                            <input type="text" name="display_name" value="{{ user.display_name }}">

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Profile Picture</label>
                            {% if user.profile_pic %}
                            <img src="{{ url_for('static', filename=user.profile_pic) }}" alt="Profile Picture">
                            {% endif %}
                            <input type="file" class="form-control" name="profile_pic">
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                        <a href="/" class="btn btn-secondary return-btn">Return to Chat</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
