{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <title>antiq's den</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="Chat Application" name="description">
        <meta content="Themesbrand" name="author">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- App favicon -->
        <link rel="shortcut icon" href="../static/uploads/default_image.png"> 

        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/app.min.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/vendor.min.css">
        <link rel="stylesheet" href="../static/assets/webfonts/fa-brands-400.ttf">
        <link rel="stylesheet" href="../static/js/random.js">   



        <!-- load the sockets -->
        <script defer type="application/javascript" src="../static/js/socket.io.min.js"></script>
        <script defer type="application/javascript" src="../static/js/socket.js"></script>
        <script defer type="application/javascript" src="../static/js/notis.js"></script>
        <script defer type="application/javascript" src="../static/js/users_update.js"></script>
        <script defer type="application/javascript" src="../static/js/jquery.js"></script>
    </head>
         <div id="notificationList"></div>
        <div id="notificationCount"></div>
    <body class="pace-done app-init">
        <div class="pace pace-inactive">
            <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>

        <div class="messenger">
            <div class="messenger-sidebar">
                <div class="messenger-sidebar-header">
                    <h3 class="mb-10px">Chats</h3>
                    <a href="#" class="btn btn-link" id="openModal" data-bs-toggle="offcanvas" data-bs-target="#inboxModal" aria-controls="us" aria-expanded="true">
                        Inbox
                    </a>
                    
                    <div class="position-relative">
                        <button type="submit" class="btn text-inverse position-absolute top-0"><i class="bi bi-search"></i></button>
                        <input type="text" class="form-control rounded-pill ps-35px" placeholder="Search Messenger">
                    </div>
                </div>
                <h5 id="userListOffcanvasLabel">Online Users</h5>
                <div class="messenger-sidebar-body">
                    <ul class="list-group list-group-flush" id="update_user_list">
                        {% for user in users_online %}
                            <li class="list-group-item d-flex align-items-center gap-3">
                                <img src="{{ url_for('static', filename=(user.profile_pic if user.profile_pic else 'uploads/default_image.webp')) }}" alt="{{ (user.display_name if user.display_name else 'Default User') }}" width="50" class="rounded-circle">
                                <div class="d-flex flex-column user-data">
                                    <a href="{{ url_for('user_profile', user_id=user.id) }}" class="profile-link fs-5">
                                        {{ user.display_name or user.username }}
                                    </a>
                                    <a href="{{ url_for('private_chat', receiver_id=user.id) }}" class="btn btn-primary mt-2">
                                        Chat {{ user.username }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                
                   
                </div>
                <div class="modal fade" id="inboxModal" tabindex="-1" aria-labelledby="inboxModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="inboxModalLabel">Inbox</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h2>Conversations:</h2>
                                <ul>
                                    {% for sender in senders %}
                                        <li><a href="{{ url_for('private_chat', receiver_id=sender.id) }}">{{ sender.username }}</a></li>
                                    {% endfor %}
                                </ul>
                                <h2>All Received Messages:</h2>
                                <ul id="receivedMessagesList">
                                    {% for message in received_messages %}
                                        <li><strong>{{ message.sender.username }}:</strong> {{ message.content }} <small>{{ message.timestamp }}</small></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <button type="button" class="btn btn-danger" id="clearInboxBtn">Clear Inbox</button>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="notificationList"></div>
            <div id="notificationCount"></div>
            
        
            <div class="messenger-content">
                <div class="messenger-content-header">
                    <div class="messenger-content-header-mobile-toggler">
                        <a href="#" data-toggle="messenger-content" class="me-2">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </div>
                    <div class="messenger-content-header-media">
                        <div class="media bg-theme text-theme-color rounded-pill fs-24px fw-bold">
                            <i class="bi bi-android2"></i>
                        </div>
                    </div>
                    <div class="messenger-content-header-info">
                        Eclectiq Public Chat
                    </div>
                    <div class="messenger-content-header-btn">
                        <a href="#" class="btn btn-link"><i class="bi bi-search"></i></a>
                        <div class="dropdown">
                            <a href="#" class="btn btn-link" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <div class="dropdown-menu fs-12px fw-bold">
                                <a href="#" class="dropdown-item d-flex align-items-center"><i class="bi bi-pencil-square fs-14px my-n1 me-2"></i> EDIT</a>
                                <a href="#" class="dropdown-item d-flex align-items-center"><i class="bi bi-info-circle fs-14px my-n1 me-2"></i> INFO</a>
                                <a href="#" class="dropdown-item d-flex align-items-center"><i class="bi bi-bell-slash fs-14px my-n1 me-2"></i> MUTE</a>
                                <a href="#" class="dropdown-item d-flex align-items-center"><i class="bi bi-x-circle fs-14px my-n1 me-2"></i> CLEAR CHAT HISTORY</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item d-flex align-items-center text-danger"><i class="bi bi-trash fs-14px my-n1 me-2"></i> DELETE AND LEAVE</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                the sp0t - {{ current_user.display_name or current_user.username }}
                <a href="/logout" class="btn-dark float-end ">Logout</a>
                <a href class="btn-dark float-end mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#userListOffcanvas" aria-controls="userListOffcanvas">
                    Online Users
                  </a>
                  
                  <div class="card-body shadow-6-soft" id="chatbox">
                      {% for message in messages %}
                      <div class="d-flex align-items-start mb-2">
                          <a href="{{ url_for('user_profile', user_id=message.sender_id) }}" class="profile-link me-2"
                        title="View profile" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-html="true"
                        data-bs-content="<img src='{{ url_for('static', filename=message.sender.profile_pic if message.sender.profile_pic else 'uploads/default_image.webp') }}' width='50'><br>{{ message.sender.username }}">
                        <img src="{{ url_for('static', filename=(message.sender.profile_pic if message.sender.profile_pic else 'uploads/default_image.webp')) }}"
                            alt="{{ (message.sender.display_name if message.sender.display_name else 'Default User') }}"
                            width="30" class="rounded-circle">
                    </a>
                    
                    
                    <!--  -->
                    
                    
                    <div class="receiverMessage" id="receiverMessage">
                        <strong><a href="{{ url_for('user_profile', user_id=message.sender_id) }}"
                          class="profile-link">{{ message.sender.display_name or message.sender.username
                          }}</a></strong>:
                          {{ message.content }}
                    </div>
                  </div>
                  {% endfor %}
              </div>
            <!--  -->
            <div class="card-footer mb-2 shadow-6">
                <div class="input-group">
                    <input type="text" class="form-control" id="message" placeholder="Enter your message"
                    onkeydown="checkKey(event)">
                    <div class="input-group-append">
                        <button class="btn btn-primary" onkeydown="checkKey(event)"
                        onclick="sendMessage()">Send</button>
                      </div>
                  </div>
              </div>
          </div>
    </div>


                    
                    <div class="input-group input-group-lg position-relative z-3">
                        <input type="text" class="form-control rounded-start ps-45px" id="message" placeholder="Enter your message" onkeydown="checkKey(event)">
                        <div class="input-group-append">
                            <button class="btn btn-primary" onkeydown="checkKey(event)" onclick="sendMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   
        
        <script defer type="application/javascript" src="../static/js/mdb.min.js"></script>
        <script defer type="application/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
        <script defer type="application/javascript" src="../static/assets/js/app.min.js"></script>
        <script defer type="application/javascript" src="../static/assets/js/vendor.min.js"></script>
        <script defer type="application/javascript" src="../static/assets/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>  
        <script>
            document.addEventListener("DOMContentLoaded", function(){
                var triggerEl = document.querySelector('#navId a[href="myTabContent"]');
                if(triggerEl) {
                    var tab = new bootstrap.Tab(triggerEl);
                    tab.show();
                }
            });
        </script>
{% endblock %}        